.login-page-container {
  display: flex;
  background: #1C1C1C;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.login-left-section,
.login-right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image-container {
  position: relative;
  border-radius: 0px;
  width: 630px;
  margin-left: -92px;
  margin-top: 42px;
  margin-bottom: 40px;
  height: 580px;
}

.login-bg-img {
  width: 100%;
  height: 100%;
}

.login-top-left-card {
  position: absolute;
  top: 42px;
  left: 40px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.login-active-learners {
  background: linear-gradient(to bottom right, #ffffff 0%, #6C6C6C 100%);
  padding: 4px 14px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  margin-right: 16px;
  color: #000;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.login-active-learners strong {
  font-weight: 600;
  font-size: 16px;
  font-family: Playfair Display;
  display: block;
}

.login-passion-card {
  background: #30302E;
  padding: 36px 8px 6px;
  border-radius: 6px;
  font-family: 'Poppins';
  font-size: 12px;
  margin-bottom: -80px;
  margin-left: 18px;
  color: white;
}

.login-passion-card strong {
  font-weight: 600;
}









.login-top-right-card {
  position: absolute;
  top: 8px;
  right: 30px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  font-size: 14px;
}

.login-avatars {
  display: flex;
  align-items: center;
  margin-top: 33px;
  justify-content: center;
}

.login-avatars img {
  width: 29px;
  height: 30px;
  border-radius: 50%;
  border: 0.5px solid #4e4e4e; 
  margin-left: -8px;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.login-avatars img:first-child {
  margin-left: 0;
}

.login-avatars span {
  font-size: 20px;
  color: #fff;
  font-family: Playfair Display;
  margin-left: 6px;
  font-weight: 600;
}

.login-lead-text {
  position: absolute;
  bottom: 130px;
  left: 40px;
  font-size: 55px;
  font-family: poppins;
  font-weight: bold;
}








.otp-title{
  display: block;
  width: 219px;
  height: 61px;
  margin-bottom: 26px;
  padding-left: 19px;
  margin-top: 50px;
  margin-left: 66px;
  font-family: poppins;
}
.otp-container {
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  background: #1c1c1c;
  padding: 40px 20px;
  border-radius: 12px;
  width: 410px;
  margin: 50px auto;
  margin-right: 90px;
  margin-left: -65px;
}

.otp-icon {
  font-size: 28px;
  background: white;
  color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px ;
}

.otp-container h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-left: -10px;
}

.otp-container p {
  font-size: 14px;
  color: #aaa;
  width: 360px;
  margin-bottom: 20px;
}

.phone {
  color: #fff;
  font-weight: 500;
}
.otp-icon{
    width: 45px;
    height: 45px;
    margin-bottom: -5px;
}
.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.otp-inputs input {
  width: 45px;
  height: 50px;
  border: 1px solid #444;
  border-radius: 8px;
  background: #111;
  color: white;
  font-size: 20px;
  text-align: center;
  outline: none;
}

.otp-inputs input:focus {
  border-color: orange;
}

.resend {
  font-size: 14px;
  color: #aaa;
  padding-left: 12px;
}

.resend span {
  color: orange;
  cursor: pointer;
  font-weight: 500;
}



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #252525 inset; 
  -webkit-text-fill-color: #fff; 
  transition: background-color 5000s ease-in-out 0s;
  border: 1px solid #ccc; 
}

@media (max-width: 768px) {
  .login-page-container {
    flex-direction: column;
    padding: 20px;
  }

  .login-right-section {
    margin-right: 0;
    margin-top: 20px;
  }
}
