.startup-page {
  
  color: #fff;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  padding: 0 120px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.startup-circle{
    background: radial-gradient(circle at center, #3d1405 10%, #1b120f 65% , #0d0907 90%);
}

/* Section Background */
.startup-section {
  
  color: white;
  padding: 44px 120px;
  text-align: center;
}

/* Responsive Container */
.startup-container {
  max-width: 1100px;
  margin: 0 auto;
}

/* Label */

.startup-label {
  background: black;
  display: inline-flex;
  width: fit-content;
  align-items: center;
  border-radius: 999px;
  padding: 3px 40px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Poppins';
  color: white;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.startup-label::before,
.startup-label::after {
  content: "";
  position: absolute;
  left: 0;
  width: 200px;
  height: 1.2px;
  background: linear-gradient(to right, #222222, #c4c3c3, #222222);
  z-index: 1;
}

.startup-label::before {
  top: 0px;
}

.startup-label::after {
  bottom: 0;
}


.startup-tag-icon {
  width: 34px;
  height: 34px;
  object-fit: contain;
  padding-right: 5px;
}

/* Title */
.startup-title {
  font-size: 42px;
  line-height: 1.3;
  font-weight: 600;
  font-family: playfair display;
  margin-bottom: 28px;
}

.startup-title .highlight {
  color: #FB614B; /* orange accent */
  font-style: italic;
  padding-right: 1%;
}

/* Subtitle */
.startup-subtitle {
  font-size: 18px;
  color: #BDC5D1;
  margin-bottom: 28px;
}

/* Category Buttons */
.startup-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.category-btn {
  background: transparent;
  border: 1px solid #777;
  border-radius: 999px;
  padding: 10px 24px;
  font-weight: 550;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.highlightstack {
  background: linear-gradient(to right, #ff7b6a, #ff4101);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Playfair Display;
  font-style: italic;
  padding-right: 3px;
}

/* CTA */
.cta-btn {
  padding: 16px 32px;
  font-size: 16px;
  color: white;
  font-style: bold poppins;
  margin-top: 5px;  
  border: 1px solid #000;
  border-radius: 8px;
  background:linear-gradient(to bottom right, #FE8324 10% ,#FF4101 100%);
  font-weight: 500;
  font-size: 16px;
  width: 206px;
  height: 54px;
  margin-bottom: 25px;
}




@media (max-width: 1024px) {
  .startup-section {
    padding: 60px 40px;
  }
  .startup-title {
    font-size: 34px;
  }
}

@media (max-width: 768px) {
  .startup-section {
    padding: 40px 20px;
  }
  .startup-title {
    font-size: 26px;
  }
  .startup-subtitle {
    font-size: 16px;
  }
  .cta-btn {
    width: 70%;
  }
}









.roadmap-container-mobile{
  display: none;
}
/* Roadmap Section */
.roadmap-section {
  padding: 64px 113px;
  display: flex;
  
  justify-content: center;
}

.roadmap-container {
  width: 100%;
  max-width: 1400px; /* keeps image from getting too big */
}

.roadmap-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0px 6px 20px rgba(0,0,0,0.5);
  object-fit: contain; /* ensures it doesn’t crop */
}

/* 📱 Tablet */
@media (max-width: 1024px) {
  .roadmap-section {
    padding: 60px 60px;
  }
}

/* 📱 Mobile */
@media (max-width: 768px) {
  .roadmap-section {
    padding: 40px 20px;
  }

  .roadmap-image {
    border-radius: 8px;
  }
}

/* 📱 Very small screens */
@media (max-width: 480px) {
  .roadmap-section {
    display: none;
  }

  .roadmap-image {
    border-radius: 6px;
  }
}














.startup-stat-section {
  display: flex;
  justify-content: space-between;
  padding: 64px 120px;
  background: radial-gradient(circle at center, #150f0c 35% , #0d0907 67%);
  flex-wrap: nowrap;
  gap: 21px;
}


.startup-stat-card {
  position: relative;
  color: #ffffff;
  border-radius: 12px;
  width: 350px;
  height: 182px;
  padding: 24px;
  margin-left: -5px;

  margin-right: 5px;

  margin-right: 0px;

  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid #787979;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.startup-nineone{
  width: 383px;
  transform: translate(-19%, -76.5%);
  margin-top: -2px;
  
}
.startup-eight{
  width: 383px;
  transform: translate(-19%, -76.5%);
  margin-top: -2px;
}
.startup-nineseven{
  width: 383px;
  transform: translate(-19%, -71.5%);
  margin-top: -12px;
}

.startup-stat-card h2 {
  font-size: 44px;
  font-weight: 500;
  font-family: playfair display;
  z-index: 2;
  position: relative;
}

.startup-stat-card span {
  font-size: 44px;
  margin-left: 4px;
}

.startup-stat-card p {
  font-size: 14px;
  margin-top: 12px;
  line-height: 1.4;
  font-family: "Poppins";
  z-index: 2;
  position: relative;
  max-width: 90%;
}

.startup-stat-bg-text {
  position: absolute;
  right: 24px;
  bottom: 12px;
  font-size: 100px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.04);
  font-family: "Poppins", sans-serif;
  z-index: 0;
}


@media (max-width: 1200px) {
  .startup-stat-section {
    padding: 40px 120px;
    justify-content: center;
  }

  .startup-stat-card {
    width: 100%;
    max-width: 360px;
  }

  .startup-stat-bg-text {
    font-size: 80px;
  }
}

@media (max-width: 1024px) {
  .startup-stat-section {
    flex-direction: row;
    padding: 40px 120px;
    align-items: center;
  }

  .startup-stat-card {
    width: 100%;
    max-width: 380px;
  }
}


@media (max-width: 768px) {
  .startup-stat-section {
    padding: 19px 26px;
    gap: 16px;
  }

  .startup-stat-card {
    width: 100%;
    max-width: 320px;
    padding:10px 10px ;
    background: linear-gradient(to top, #181320,#231C30);
  }
  .startup-stat-card img{
    display: contents;
  }

  .startup-stat-card h2,
  .startup-stat-card span {
    font-size: 32px;
    margin-top: 5px;
  }

  .startup-stat-card p {
    font-size: 13px;
    padding-bottom: 10px;
  }

}









.startup-tools-section {

  color: #fff;
  text-align: center;
  padding: 64px 120px;
}

.startup-tools-section h2 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 16px;
  font-family: "Playfair Display", serif;
}

.startup-tools-section .highlight {
  color: #FB614B; /* red-orange highlight */
  font-style: italic;
}

.startup-tools-subtext {
  color: #9A9A9A;
  font-size: 20px;
  margin-bottom: 45px;
  font-family: "Poppins";
}

.startup-tools-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  gap: 17px;
}

.startup-tool-card {
  background: #fff;
  border-radius: 24px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77px;
}

.startup-tool-card img {
  max-height: 45px;
  max-width: 90%;
  object-fit: contain;
}

/* ✅ Responsive */
@media (max-width: 1024px) {
  .startup-tools-section {
    padding: 48px 80px;
  }
}

@media (max-width: 768px) {
  .startup-tools-section {
    padding: 32px 20px;
  }

  .startup-tools-section h2 {
    font-size: 22px;
  }

  .startup-tools-subtext {
    font-size: 13px;
  }

  .startup-tool-card {
    height: 70px;
  }

  .startup-tool-card img {
    max-height: 40px;
  }
}











.startup-brochure {
  padding: 64px 120px 45px;
  
  display: flex;
  justify-content: center;
}

.startup-brochure-banner {
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  border-radius: 8px;
  position: relative;
  width: 100%;
  max-width: 1013px; /* Keeps desktop look */
  height: auto;
  min-height: 255px; /* Keeps proportion */
  display: flex;
  align-items: center;
}

.startup-brochure-overlay {
  color: white;
  width: 100%;
}

.startup-brochure-overlay h3 {
  font-size: 32px;
  font-weight: 500;
  font-family: 'Playfair Display', serif;
  margin-top: -10px;
  padding-left: 30px;
  padding-bottom: 8px;
}

.startup-brochure-overlay h3 span {
  color: #FB614B;
}

.startup-brochure-overlay p {
  font-size: 20px;
  color: #c9c9c9;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 16px;
  padding-left: 30px;
}

.startup-download-brochure-btn {
  padding: 16px 32px;
  font-size: 16px;
  color: white;
  margin-top: 15px;  
  border: 1px solid #000;
  border-radius: 8px;
  background: linear-gradient(to bottom right, #FE8324 10%, #FF4101 100%);
  font-weight: 500;
  width: 232px;
  height: 52px;
  margin-left: 30px;
}

/* 🔹 Responsive Styles */
@media (max-width: 1024px) {
  .startup-brochure {
    padding: 40px 47px;
  }

  .startup-brochure-overlay h3 {
    font-size: 26px;
  }

  .startup-brochure-overlay p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .startup-brochure {
    padding: 30px 20px 40px;
    
  }

  .startup-brochure-banner {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .startup-brochure-overlay h3 {
    font-size: 22px;
    margin-top: 30px;
    padding-left: 0;
  }

  .startup-brochure-overlay p {
    font-size: 13px;
    padding-left: 0;
  }

  .startup-download-brochure-btn {
    margin-left: 0;
    padding: 14px;
  }
}

@media (max-width: 480px) {
  .startup-brochure-overlay h3 {
    font-size: 20px;
  }

  .startup-brochure-overlay p {
    font-size: 14px;
  }

  .startup-download-brochure-btn {
    font-size: 14px;
    padding: 12px;
  }
}










/* Walk Away Section */
.startup-walk-away {
  padding: 64px 120px;
  
  text-align: center;
  color: #fff;
}

.startup-walk-away h2 {
  font-size: 34px;
  font-family: "Playfair Display";
  font-weight: 600;
  margin-bottom: 40px;
}

.startup-walk-away h2 span {
  color: #FB614B;
  font-style: italic;
}

.startup-walk-away-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);  
}

.startup-walk-card {
  background: linear-gradient(to bottom, #231C30, #181320);
  border: 1px solid #333;
  border-radius: 0px;
  padding: 24px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.startup-walk-card .startup-icon {
  font-size: 22px;
  color: #FB614B;
  margin-bottom: 7%;
}

.startup-icon{
  background: #000;
  width: fit-content;
  border-radius: 70%;
}
.startup-walk-card p {
  font-size: 14px;
  font-family: poppins;
  line-height: 1.5;
  color: #ddd;
  padding-bottom: 4%;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .startup-walk-away-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .startup-walk-away {
    padding: 30px 20px;
  }

  .startup-walk-away-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .startup-walk-away h2 {
    font-size: 24px;
  }
}






















.startup-faq-section {
  padding: 64px 120px 128px;
  color: #ffffff;
}

.startup-faq-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Playfair Display;
  gap: 15px;
}

.startup-faq-header h2 {
  font-size: 38px;
  font-weight: 800;
  font-family: playfair display;
  margin-bottom: 16px;
  text-align: center;
  color: #ffffff;
}

.startup-faq-rightt {
  flex: 1 1;
  height: 1.5px;
  background: linear-gradient(to right,  #fffdfd 20%,#ede7e7 20%, #313030 70%);
  border: none;
  opacity: 0.4;
  max-width: 310px;
  margin-top: 17px;
}

.startup-faq-leftt {
  flex: 1 1;
  height: 1.5px;
  background: linear-gradient(to left,  #fffdfd 20%,#ede7e7 20%, #313030 70%);
  border: none;
  opacity: 0.4;
  max-width: 310px;
  margin-top: 17px;
}

.startup-dronehighlight{
  color: #FB614B;
  font-style:italic;
  padding-right: 5px;

}
.startup-faq-subtext {
  font-size: 20px;
  color: #9A9A9A;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'poppins', sans-serif;
}


.startup-faq-title span {
  color: #ffffff;
}

.startup-faq-list {
  max-width: 1100px;
  margin: 0 auto;
}

.startup-faq-card {
  background-color: #14101A;
  border-radius: 9px;
  padding: 13px 24px 13px 24px;
  margin-right: 10px;
  margin-bottom: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.03);
  transition: box-shadow 0.3s ease;
}

.startup-faq-card:hover {
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.06);
}

.startup-faqarrow{
  width: 29px;
  height: 29px;
}

.startup-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.startup-faq-question h4 {
  font-size: 14px;
  font-style: poppins;
  font-weight: 600;
  margin: 0;
}

.startup-accordion-icon {
  font-size: 18px;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.startup-accordion-icon.open {
  transform: rotate(180deg);
}

.startup-faq-answer {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.6;
  width: 900px;
  color: #a7a7a7;
  margin-bottom: 10px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .startup-faq-section {
    padding: 40px 20px;
  }

  .startup-faq-title {
    font-size: 22px;
  }

  .startup-faq-card {
    padding: 18px 16px;
  }

  .startup-faq-question h4 {
    font-size: 15px;
    width: 350px;
  }
  .startup-faq-answer {
    margin-top: 5px;
    font-size: 12px;
    line-height: 1.2;
    width: 300px;
    color: #a7a7a7;
    margin-bottom: 10px;
  }

  .startup-faq-answer p{
    font-size: 15px;
  }
}














.gradient-conti{
  background: linear-gradient(to bottom, #120c09 20% , #1C1C1C 90%);
}


.startup-second-circle{
  background: radial-gradient(circle at center, #3d1405 10%, #130d0b 65% , #0d0907 90%);
}




.startup-info-section {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 64px 100px 30px 120px;
  flex-wrap: wrap;
}

/* Right column */
.startup-info-right {
  flex: 0.8;
  min-width: 320px;
}

/* Left column */
.startup-info-left {
  flex: 1;
  min-width: 300px;
}


/* Tablet view */
@media (max-width: 1024px) {
  .startup-info-section {
    padding: 20px 40px;
    gap: 30px;
  }

  .startup-info-right,
  .startup-info-left {
    flex: 1 1 100%;
  }
}

/* Mobile view */
@media (max-width: 768px) {
  .startup-info-section {
    flex-direction: column;
    padding: 20px;
    display: flex;
    gap: 20px;
  }

  .startup-info-right,
  .startup-info-left {
    width: 100%;
    min-width: auto;
    
  }
  .startup-info-right{
     position: static;
  }
}
















.startup-info-heading {
  font-size: 25px;
  font-family: Playfair Display;
  font-weight: 500;
  margin-bottom: 16px;
  color: white;
}
.startup-info-heading-h3 {
  font-size: 16px;
  font-family: poppins;
  font-weight: 600;
  margin-bottom: 16px;
  color: white;
}

.startup-info-heading span {
  color: #ff4b4b;
  font-style: italic;
  font-family: Playfair Display;

}


.startup-info-para {
  font-size: 16px;
  font-style: poppins;
  color: #e8e6e6;
  width: 570px;
  margin-bottom: 16px;
  line-height: 1.5;
}
.startup-info-para-poins {
  font-size: 15px;
  font-style: poppins;
  color: #e8e6e6;
  width: 570px;
  margin-bottom: 3px;
  line-height: 1.5;
}
.startup-info-para1 {
  font-size: 16px;
  font-style: poppins;
  color: #bbb;
  padding-bottom: 52px;
  width: 540px;
  line-height: 1.5;
}

@media (max-width: 1024px) {
  .startup-info-heading {
    font-size: 22px;
  }
  .startup-info-para,
  .startup-info-para-poins,
  .startup-info-para1 {
    font-size: 15px;
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .startup-info-heading {
    font-size: 20px;
    text-align: center;
  }
  .startup-info-heading-h3 {
    text-align: center;
  }
  .startup-info-para,
  .startup-info-para-poins,
  .startup-info-para1 {
    font-size: 14px;
    text-align: center;
    width: 100%;
    
  }
}

@media (max-width: 480px) {
  .startup-info-heading {
    font-size: 16px;
  }
  .startup-info-para,
  .startup-info-para-poins {
    font-size: 13px;
    line-height: 1.4;
    padding: 0 10px;

  }
}














.startup-tickmark{
  background: #000;
  border-radius: 40px;
  color: white;
  padding: 0 4px;
  line-height: 6px;
  margin-right: 3px;
}

.startup-pricing-card {
  background-color: #fff;
  border-radius: 14px;
  margin-left: 15px;
  padding: 5px 20px 5px 20px;
  width: 408px;
  border: 12px solid #aeadad;
  height: 590px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  font-family: 'Poppins', sans-serif;
  color: #111;
}

.startup-pricing-card h2 {
  font-size: 32px;
  font-weight: 500;
  font-family: Playfair Display;
  margin-bottom: 30px;
  line-height: 1.4;
}

.startup-features-list {
  list-style: none;
  padding: 0;
  margin: 10px 0 31px 0;
}

.startup-features-list li {
  font-size: 14px;
  margin-bottom: 25px;
  font-style: poppins;
  font-weight: 520;
}

.startup-price{
  font-size: 20px;
  font-style: poppins;
  color: #9A9A9A;
  margin-left: 10px;
  margin-bottom: -20px;
  font-weight: 400;
}
.startup-price-section {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #9A9A9A;
  font-weight: 500;
  font-size: 20px;
  margin: 15px 0;
}

.startup-original-price {
  text-decoration: line-through;
  color: #999;
  font-size: 20px;
  margin-left: 10px;
}

.startup-current-price {
  font-size: 28px;
  font-style: poppins;
  font-weight: 600;
  color: #000;
}

.startup-trust-footer-drone {
  margin-top: 20px;
  margin-bottom: 20px;
}

.startup-avatarsdrone {
  display: flex;
  align-items: center;
  margin-top: 17px;
  justify-content: center;
}

.startup-avatarsdrone img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
  margin-left: -12px; 
  position: relative;
  z-index: 1;
}

.startup-avatarsdrone img:first-child {
  margin-left: 0;
}

.startup-avatarsdrone span {
  font-size: 14px;
  color: #aaa;
  font-style: poppins;
  margin-left: 10px;
}
.startup-top{
  width: 275px;
  align-items: center;
}
.startup-pricing-btn {
  padding: 16px 32px;
  font-size: 16px;
  color: white;
  font-style: bold poppins;
  margin-top: 5px;  
  border: 0px solid #000;
  border-radius: 8px;
  background:linear-gradient(to bottom right, #FE8324 10% ,#FF4101 100%);
  font-weight: 500;
  font-size: 16px;
  width: 343px;
}

.startup-form-wrapper.hidden {
  display: none;
}

.startup-form-wrapper.visible {
  display: block;
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}













@media (max-width: 480px) {
   .drone-pricing-card {
    background-color: #fff;
    border-radius: 14px;
    
    padding: 5px 20px 5px 20px;
    width: 371px;
    border: 12px solid #aeadad;
    height: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    font-family: 'Poppins', sans-serif;
    color: #111;
  } 
  .drone-pricing-btn {
    padding: 16px 32px;
    font-size: 16px;
    color: white;
    font-style: bold poppins;
    margin-top: 5px;  
    border: 0px solid #000;
    border-radius: 8px;
    background:linear-gradient(to bottom right, #FE8324 10% ,#FF4101 100%);
    font-weight: 500;
    font-size: 16px;
    width: 303px;
  }
  .form-submit-btn {
    padding: 16px 32px;
    font-size: 16px;
    color: white;
    font-style: bold poppins;
    margin-top: 5px;  
    border: 0px solid #000;
    border-radius: 8px;
    background:linear-gradient(to bottom right, #FE8324 10% ,#FF4101 100%);
    font-weight: 500;
    font-size: 16px;
    width: 303px;
    
  }
    .phone--input {
      width: 320px;
  }

}












.startup-form{
  padding-top: 4px;
}

.startup-form-card {
  background-color: #fff;
  border-radius: 14px;
  margin-left: 15px;
  padding: 10px 20px 10px 20px;
  width: 408px;
  border: 12px solid #aeadad;
  height: 580px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  font-family: 'Poppins', sans-serif;
  color: #111;
}

.startup-form-title {
  font-size: 32px;
  font-weight: 500;
  font-family: 'Playfair Display', serif;
  margin-bottom: 28px;
  color: #000;
}

.startup-form-fields {
  display: flex;
  flex-direction: column;
  gap: 18px;
  
}


.startup-form-fields input,
.startup-form-fields select {
  padding: 16px 18px 16px 18px;
  font-size: 14px;
  border: none;
  width: 343px;
  border-radius: 8px;
  background: #D6D6D6;
  font-weight: 400;
  color: #9A9A9A;
  font-family: 'Poppins';
}

.startup-form-fields input::placeholder,
.startup-form-fields select {
  color: #666;
}

.startup-phone--input {
  display: flex;
  align-items: center;
  background: #D6D6D6;
  border-radius: 8px;
  width: 343px;
  overflow: hidden;
}

.startup-country--code {
  padding: 16px;
  background: #C9C9C9;
  font-size: 14px;
  color: #797777;
  font-family: 'Poppins', sans-serif;
}

.startup-phone--input input {
  flex: 1;
  padding: 16px;
  font-size: 14px;
  border: none;
  background: transparent;
  font-family: 'Poppins', sans-serif;
}

.startup-form-submit-btn {
  padding: 16px 32px;
  font-size: 16px;
  color: white;
  font-style: bold poppins;
  margin-top: 5px;  
  border: 0px solid #000;
  border-radius: 8px;
  background:linear-gradient(to bottom right, #FE8324 10% ,#FF4101 100%);
  font-weight: 500;
  font-size: 16px;
  width: 343px;
  
}

.startup-form-submit-btn:hover {
  background: #e04f2d;
}


@media (max-width: 600px) {
  .startup-form-card {
    padding: 24px 16px;
    margin: 24px 16px;
  }

  .startup-form-title {
    font-size: 22px;
  }

  .startup-form-submit-btn {
    font-size: 15px;
  }
}


















.startup-mentors-section {
  margin-top: 50px;
  width: 560px;
}
.startup-mentors-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
  font-family: playfair display;
  color: #fff;
}

.startup-mentors-section h2 span {
  color: #ff5722; 
  font-style: italic;
}

.startup-mentors-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(169px, 1fr));
  gap: 20px;
}

.startup-mentor-card {
  background: #1a1a1a;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
}

.startup-mentor-card:hover {
  transform: translateY(-5px);
}

.startup-mentor-card img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.startup-mentor-info {
  padding: 5px;
  background: #191321;
}

.startup-mentor-info h4 {
  font-size: 14px;
  color: #fff;
  font-family: poppins;
  font-weight: 600;
  margin-bottom: 1px;
}

.startup-mentor-info p {
  font-size: 12px;
  color: #BDC5D1;
  margin: 0;
}

.startup-mentor-info span {
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-top: 5px;
  color: #ff5722;
}

.startup-mentor-info img {
  width: fit-content;
  height: 15px;
  margin-top: 5px;
  color: #ff5722;
}